
.main-contain{
    max-width:750px;
    display:block;
    margin:auto;
    padding-left:10px;
    padding-right:10px;
}

h1{
    font-size: 52px;
}

h2{
    font-size: 38px;
}

h3{
    font-size: 24px;
}
a{
    color: #27AE60;
    text-decoration: none;
}
body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    margin:0;
    padding:0;
    line-height: 1.5;
}

.btn-main{
    transition:0.3s;
    display:inline-block;
    background-color: $primary-color;
    padding: 10px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration:none;
    text-transform: capitalize;
    &:hover{
        transition:0.3s;
        background-color: $primary-color-d-1;
    }
}

.btn-secondary{
    transition:0.3s;
    display:inline-block;
    padding: 10px 30px;
    border-radius: 25px;
    border: 3px solid $primary-color;
    color: $primary-color;
    text-decoration: none;
    text-transform:capitalize;

    &:hover{
        background-color: $primary-color;
        color: #ffffff;
        transition: 0.3s;
    }
}